[GdmGreeterTheme]
Greeter=keres.xml
Name=sidux-keres
Description=sidux 2010-02 keres GDM Theme
Author=sidux art team
Copyright=GPL
Screenshot=screenshot.png

