[Desktop Entry]
Name=sidux 2010-02 Κῆρες Wallpaper
Name[x-test]=xxsidux 2010-02 Κῆρες Wallpaperxx
X-KDE-PluginInfo-Name=sidux-keres
X-KDE-PluginInfo-Author=sidux Art Team
X-KDE-PluginInfo-Email=fullstory-art-dev@lists.berlios.de
X-KDE-PluginInfo-License=GPLv2
